@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #d1c7a1;
  border-radius: 9999px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

[transform-style\:preserve-3d] {
  transform-style: preserve-3d;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-slideDown {
  animation: slideDown 0.25s ease-out;
}

.animate-fadeIn {
  animation: fadeIn 0.15s ease-out;
}

@layer utilities {
  @keyframes fadeSlideIn {
    0% {
      opacity: 0;
      transform: translateY(6px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-slide-in {
    animation: fadeSlideIn 0.25s ease-out;
  }
}

.no-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.no-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d1c7a1;
  border-radius: 9999px;
}

.no-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.timeline-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
}

.film-stack {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(5, 129px);
  grid-auto-columns: 160px;
  gap: 12px;
  align-content: end;
  justify-content: center;
  max-height: calc(129px * 5 + 12px * 4);
  overflow: visible;
  border-radius: 12px;
}
